
.movieListView{
    -fx-background-color: transparent;
}
.movieListView .list-cell{
    -fx-background-color: rgba(255, 255, 255, .15);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0;
    -fx-pref-height: 150;
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-max-width: 250;
    -fx-wrap-text: true;
    -fx-text-alignment: left;
}

.movieListView .list-cell:odd{
    -fx-background-color: rgba(200, 200, 200, .15);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0;
}

.movieListView .list-cell:selected {
    -fx-background-color: rgba(185, 14, 21, 0.15);
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.movieListView .list-cell:filled:hover {
    -fx-background-color: rgba(255, 0, 0, 0.15);
}

.movieListView .list-cell:empty {
    -fx-opacity: 0;
}
.text-field {
    -fx-background-color: transparent;
    -fx-text-box-border: transparent;
    -fx-background:transparent;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
    -fx-border-width: 0;
    -fx-text-fill: white;
}
.text-field:focused {
    -fx-border-width: 0 0 2 0;
    -fx-border-color: red;
}
.scroll-bar:horizontal {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}
.pagination{
    -fx-page-information-alignment: top;
}
.pagination .label {
    -fx-text-fill:white;
}

/* Remove spacing */
.pagination > .pagination-control > .control-box {
    -fx-spacing: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    /*-fx-alignment: top-center;*/
    -fx-text-fill: white;
}

/* You can control the actual button sizes here */
.pagination > .pagination-control > .control-box > .number-button,
.pagination > .pagination-control > .control-box > .bullet-button,
.pagination > .pagination-control > .control-box > .left-arrow-button,
.pagination > .pagination-control > .control-box > .right-arrow-button {
    -fx-background-insets: 0;
    -fx-background-color: lightgray, #FAFAFA;
    -fx-min-width: 30;
    -fx-min-height: 30;
}

/* Colors on hover */
.pagination > .pagination-control > .control-box > .number-button:hover,
.pagination > .pagination-control > .control-box > .bullet-button:hover,
.pagination > .pagination-control > .control-box > .left-arrow-button:hover,
.pagination > .pagination-control > .control-box > .right-arrow-button:hover {
    -fx-background-insets: 0;
    -fx-background-color: lightgray;
}

/* Selected toggle color */
.pagination > .pagination-control > .control-box > .number-button:selected,
.pagination > .pagination-control > .control-box > .bullet-button:selected{
    -fx-background-insets: 0;
    -fx-background-color: #ab1212;
    -fx-text-fill: white;
}