root {
    display: block;
}

.root{
    -fx-background-image: url('../images/MainBackground.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}
.menuList{
    -fx-font-size: 12px;
    -fx-background-insets: 0 ;
    -fx-border-width: 0;
    -fx-border-color: red;
    -fx-background-color: transparent;
    -fx-max-width: 200;
    -fx-min-width: 200;
    -fx-pref-width: 200;
}
.menuList .list-cell {
    -fx-pref-height: 50;
    -fx-padding: 10;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-insets: 3;
    -fx-border-radius: 5;
    -fx-border-width: 3;
    -fx-border-color: black;
}
.menuList .list-cell:odd {
    -fx-background-color: #56081A;
}
.menuList .list-cell:even {
    -fx-background-color: #300C1B;
}

.menuList .list-cell:filled:hover {
    -fx-background-color: red;
    -fx-text-fill: white;
}
.menuList .list-cell:empty{
    -fx-opacity: 0;
}

.logoutButton{
    -fx-background-color: #56081A;
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-border-width: 5;
    -fx-border-color: red;
    -fx-border-radius: 20;
    -fx-pref-height: 20;
    -fx-pref-width: 200;
}

.frostedGlass{
    -fx-background-color: rgba(255, 255, 255, .15);
    -fx-padding: 20;
    -fx-border-insets: 50;
    -fx-background-insets: 50;
    -fx-border-width: 1;
    -fx-border-color: grey;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
.headline,.subHeadline{
    -fx-text-alignment: center;
}

.headline{
    -fx-text-fill: white;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}

.subHeadline{
    -fx-text-fill: #dadada;
    -fx-font-size: 12px;
}