.mainBox{
    -fx-padding: 60;
}

.mainLabel{
    -fx-text-alignment: center;
    -fx-text-fill: white;
    -fx-font-size: 30px;
    -fx-wrap-text: true;
    -fx-font-weight: bold;
}
.text-area {
    -fx-font-family: Consolas;
    -fx-font-size: 15;
    -fx-text-fill: #ffffff;
    -fx-display-caret:true;
}
.text-area .content {
    -fx-background-color: #000000;
}
.text-area:focused {
    -fx-background-color: #b90e15;
}

.button{
    -fx-pref-width: 1000;
    -fx-font-family: Consolas;
    -fx-font-size: 15;
    -fx-text-fill: #ffffff;
    -fx-display-caret:true;
    -fx-background-color: #000000;
    -fx-border-color: #ffffff;
    -fx-border-width: 2;
}
.button{
    -fx-pref-width: 1000;
    -fx-font-family: Consolas;
    -fx-font-size: 15;
    -fx-text-fill: #ffffff;
    -fx-display-caret:true;
    -fx-background-color: #000000;
    -fx-border-color: #ffffff;
    -fx-border-width: 2;
}
.button:hover{
    -fx-border-color:#b90e15;;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :black;
    -fx-border-color :black;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :tranparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :tranparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(#ffffff,80.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#ffffff,100.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}